body {
    width: 100%;
    padding: 0;
    margin: 0;
}


.tela-inteira {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.painel-de-videos {
    padding-left: 20px;
    padding-top: 20px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 24.8% 0.2%);
    grid-template-rows: repeat(4, 270px 20px);
}



